@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my final project page</h1>
    
    <h4>for correct running of the application:</h4>
    <div class="container">
        <li>
    Create a new person
        </li>
        <li>
    Add new insurance to the created person in the person detail
        </li>
        <li>
    Additional functions are listed during the application
        </li>
    </div>
    </br>
    The application distinguishes between Insured Persons and Policy holders. <br />These persons can be deleted individually.
    </br>
    The application can add and delete insurance events in the selected insurance
</div>
